@layer base {
  html {
    @apply scroll-smooth selection:bg-light-orange selection:text-purple;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    touch-action: manipulation;
  }

  body:not(.wp-admin):not(.mce-content-body) {
    @apply bg-light-tan;
  }

  .site {
    @apply flex flex-col min-h-screen;

    &-main {
      @apply flex-grow;
    }
  }

  img {
    @apply max-w-full;
  }

  iframe {
    @apply max-w-full;
  }

  .lazyload-effect {
    img {
      @apply transition-opacity duration-300 ease-in-out;
    }
    .lazyload,
    .lazyloading {
      @apply opacity-0;
    }

    .lazyloaded {
      @apply opacity-100 !important;
    }
  }

  .full-image {
    @apply object-cover object-center h-full w-full [&_img]:w-full [&_img]:h-full [&_img]:object-cover;
  }

  svg {
    @apply w-full h-auto max-w-full;
  }

  pre {
    @apply p-2 text-gray-800 bg-gray-100 rounded-lg;
  }

  hr {
    @apply my-6;
  }

  [x-cloak] {
    @apply !hidden;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .sr-only {
    @apply p-2 text-white bg-black;
  }

  body[x-cloak] {
    overflow: hidden;
  }

  .bg-texture-waves {
    @apply relative;

    &::before {
      @apply absolute inset-0 bg-repeat bg-left-top opacity-[0.03] pointer-events-none;
      content: '';
      background-image: url('../theme/assets/media/images/waves.webp');
      background-size: 350px;
    }
  }

  .bg-texture-croc {
    @apply relative;

    &::before {
      @apply absolute inset-0 bg-repeat bg-left-top opacity-[0.03] pointer-events-none;
      content: '';
      background-image: url('../theme/assets/media/images/croc.webp');
      background-size: 400px;
    }
  }

  .bg-texture-snake {
    @apply relative;

    &::before {
      @apply absolute inset-0 bg-repeat bg-left-top opacity-[0.05] pointer-events-none;
      content: '';
      background-image: url('../theme/assets/media/images/snake.webp');
      background-size: 300px;
    }
  }

  .bg-texture-leaves {
    @apply relative;

    &::before {
      @apply absolute inset-0 bg-repeat bg-left-top opacity-[0.08] pointer-events-none;
      content: '';
      background-image: url('../theme/assets/media/images/leaves.webp');
      background-size: 600px;
    }
  }

  .bg-texture-leaves-2 {
    @apply relative;

    &::before {
      @apply absolute inset-0 bg-repeat bg-left-top opacity-[0.2] pointer-events-none;
      content: '';
      background-image: url('../theme/assets/media/images/leaves-2.webp');
      background-size: 800px;
    }
  }

  .text-shadow-heros {
    text-shadow: 0 0 16px rgb(0 0 0 / 85%), 0 0 1px rgb(0 0 0 / 85%);
  }
}
