@layer base {
  .site {
    @apply flex flex-col min-h-screen;

    &-main {
      @apply flex-grow;
    }
  }

  img {
    @apply max-w-full;
  }

  .lazyload-effect {
    img {
      @apply transition-opacity duration-300 ease-in-out;
    }
    .lazyload,
    .lazyloading {
      @apply opacity-0;
    }

    .lazyloaded {
      @apply opacity-100 !important;
    }
  }

  .full-image {
    @apply object-cover object-center h-full w-full [&_img]:w-full [&_img]:h-full [&_img]:object-cover;
  }

  svg {
    @apply w-full h-auto max-w-full;
  }

  pre {
    @apply p-2 text-gray-800 bg-gray-100 rounded-lg;
  }

  hr {
    @apply my-6;
  }

  [x-cloak] {
    @apply !hidden;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .sr-only {
    @apply p-2 text-white bg-black;
  }

  body[x-cloak] {
    overflow: hidden;
  }
}
