.gform_wrapper {
  .gform_heading {
    @apply hidden;
  }

  .gfield {
    @apply !mb-8;
  }

  .gfield--type-honeypot {
    @apply invisible h-0 mb-0 !important;
  }

  .gform-field-label--type-sub {
    @apply text-[0.875rem] ml-2 font-bold -translate-y-1 inline-block;
  }

  .ginput_complex {
    @apply grid grid-cols-2 gap-2;
  }
  @apply text-white;
  input:not([type='submit'], [type='checkbox'], [type='radio']),
  [type='text'],
  [type='password'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='url'],
  [type='date'],
  textarea,
  select {
    @apply bg-white text-dark-blue py-2 px-4 rounded-xl w-full mb-2 last:mb-0;
  }
  select {
    @apply appearance-none bg-no-repeat !important;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z'%3E%3C/path%3E%3C/svg%3E%0A");
    background-position: right 12px center;
    background-size: 10px;
  }
  /* label {
    @apply text-[0.75rem] uppercase font-bold mb-1.5;
  } */
  fieldset {
    @apply mb-3 last:mb-0;
  }
  .gfield {
    @apply mb-3 last:mb-0;
  }
  input[type='radio'],
  input[type='checkbox'] {
    @apply accent-dark-blue;
  }
  .gform-footer {
    @apply mt-4;
  }

  .gfield_label {
    @apply text-[1.2rem] font-bold mb-2 block;
  }

  .gfield--type-section {
    @apply block border-t border-white/50 my-8;
  }
}

.gform_validation_errors {
  @apply bg-red-500 text-white p-4 rounded-3xl border-2 border-red-800;
  a {
    @apply text-white no-underline hover:underline;
  }
}

.gform_confirmation_message {
  @apply font-bold heading-6;
}
